{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  Triage complaint – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="index-2nd">Dashboard</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.timelineStagePSU2  {display: none!important}
.timelineStagePSU3  {display: none!important}

.summaryPSU1a  {display: none!important}
.summaryPSU1b  {display: none!important}

.summaryPSU2b  {display: none!important}
.summaryPSU3  {display: none!important}

.summaryPSU4  {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Triage complaint</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu'] }}</span>
    
    <h2 class="govuk-heading-m">Case details</h2>

    <!-- Accordian -->
    {% set triageHtml %}
<span class="govuk-body full-width"><strong>When was the correspondence received?: </strong>{{ data['current-date-digit'] }}</span><br><br>
<span class="govuk-body full-width"><strong>Which is the primary correspondent?: </strong>Joseph Bloggs</span><br><br>
<span class="govuk-body full-width"><strong>Date of Birth: </strong>14/05/1984</span><br><br>
<span class="govuk-body full-width"><strong>Gender: </strong>Male</span><br><br>
<span class="govuk-body full-width"><strong>Nationality: </strong>Ethiopia</span><br><br>
<span class="govuk-body full-width"><strong>Home Office reference: </strong>66389</span><br><br>
<span class="govuk-body full-width"><strong>Complaint type: </strong>Serious misconduct</span><br><br>
<span class="govuk-body full-width"><strong>Poor communication: </strong>Yes</span><br><br>
<span class="govuk-body full-width"><strong>Rudeness: </strong>Yes</span><br><br>
<span class="govuk-body full-width"><strong>Assault: </strong>Yes</span><br><br>
<span class="govuk-body full-width"><strong>Channel: </strong>DCF9 Complaint Form</span><br><br>
<span class="govuk-body full-width"><strong>Complaint origin: </strong>IRC - Brook House</span><br><br>
<span class="govuk-body full-width"><strong>Owning CSU: </strong>IE Detention</span><br><br>
<span class="govuk-body full-width"><strong>Case summary: </strong>Alleged assault</span>
{% endset -%}

{% set refHtml %}
<span class="govuk-body full-width"><strong>PSU reference: </strong>16000</span>
{% endset -%}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "IE Detention Registration"
      },
      content: {
        html: triageHtml
      }
    },
    {
      heading: {
        text: "PSU Registration"
      },
      content: {
        html: refHtml
      }
    }
  ]
}) }}
    <!-- end -->

    <h2 class="govuk-heading-m">Allocate</h2>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="triage">Allocate to me</a></p>

    {% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "sort",
      name: "sort",
      label: {
        classes: "govuk-!-font-weight-bold",
        text: "Allocate to a team member"
      },
      items: [
        {
          value: "",
          text: ""
        },
        {
          value: "",
          text: "PSU user 2 (psu-user2@homeoffice.gov.uk)"
        },
        {
          value: "",
          text: "PSU user 3 (psu-user3@homeoffice.gov.uk)"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Allocate",
      href: "#"
    }) }}


    {{ govukCheckboxes({
      idPrefix: "stillserious",
      name: "stillserious",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "senttoteamnotondecs",
          text: "senttoteamnotondecs",
          checked: true
        }
      ]
    }) }}
    
  </form>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <!-- Tabs and tabs content -->
      {% include "psu-v2/includes/tabs.html" %}
    <!-- end -->
  </div>

</div>

{% endblock %}
