{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  Upload final response – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
  .summaryPSU1  {display: none!important}
  .summaryPSU2  {display: none!important}
  .summaryPSU3  {display: none!important}
</style>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Upload final response</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu'] }}</span>


    <form class="form" action="index-end" method="post">


    <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-psu-outcome">
      Upload a file
    </label>
    <input class="govuk-file-upload" id="file-upload-psu-outcome" name="file-upload-psu-outcome" type="file" value="psu-outcome-fileUploaded">
  </div>

  <!--HTML date-->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Final response sent
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 30 6 2022
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

    {{ govukButton({
      text: "Close case",
      value: data['case-closed']
    }) }}

    {{ govukCheckboxes({
      idPrefix: "stillserious",
      name: "stillserious",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "no",
          text: "no",
          checked: true
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "allocated-to-me",
      name: "allocated-to-me",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "no",
          text: "no",
          checked: true
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "finished",
      name: "finished",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "yes",
          text: "yes",
          checked: true
        }
      ]
    }) }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <!-- Tabs and tabs content -->
      {% include "psu-v2/includes/tabs.html" %}
    <!-- end -->
  </div>
  
</div>

{% endblock %}
