{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  PSU dashboard – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form action="#" method="POST" enctype="multipart/form-data">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Load case",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example ABC/1234567/12"
        },
        id: "event-name",
        name: "event-name",
        autocomplete: "off"
      }) }}
    </form>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Dashboard</h1>
      <h2 class="govuk-heading-m">My cases</h2>
      <ul class="govuk-grid-row dashboard__teams">
        <li class="card govuk-body govuk-grid-column-one-quarter">
          
          <a href="my-cases-start" class="card__body">
            <span class="govuk-!-font-size-48">
              0
            </span>
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Cases</span>
          </a>
          
        </li>
      </ul>

        <h2 class="govuk-heading-m">Team cases</h2>
        <ul class="govuk-grid-row dashboard__teams">
          <li class="card govuk-body govuk-grid-column-one-quarter">
            <a class="card__body" href="team-case-start">
              
              {% if (data['stillserious'] == 'yes') %}

              <!--display case in investigation state-->
                <span class="govuk-!-font-size-48">4</span>
              
                {% elif 'no' in data['stillserious'] %}
              <!--display nothing-->
                <span class="govuk-!-font-size-48">3</span>
              
                {% elif 'sendback' in data['stillserious'] %}
                <span class="govuk-!-font-size-48">3</span>
                
                {% elif 'senttoteamnotondecs' in data['stillserious'] %}
                <span class="govuk-!-font-size-48">3</span>
              
                {% else  %}
              <!--starting state of case-->
                <span class="govuk-!-font-size-48">4</span>
              {% endif %}

              <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Serious misconduct cases</span>
            </a>
            <div class="card__footer">

              {% if (data['allocated-to-me'] == 'yes') or (data['stillserious'] == 'sendback') or (data['stillserious'] == 'senttoteamnotondecs') or (data['stillserious'] == 'notserious') or (data['finished'] == 'yes') %}
              <!--display case in investigation / allocated to me state -->
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-tag dashboard__tag">0 unallocated</span>
              {% else %}
              <!--display no cases allocated to me-->
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-tag dashboard__tag">1 unallocated</span>
              {% endif %}
            </div>
          </li>
        </ul>
        </div>
      </div>

{% endblock %}
