{% extends "layout-psu-v2.html" %}

{% block pageTitle %}
  Review complaint categories – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
  .timelineStagePSU2  {display: none!important}
  .timelineStagePSU3  {display: none!important}

  .summaryPSU1  {display: none!important}
  .summaryPSU3  {display: none!important}
  .summaryPSU4  {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <h1 class="govuk-heading-l margin-0">Review complaint categories</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu'] }}</span>

    <form class="form" action="outcome" method="post">

    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    <p class="govuk-body">Current categories are selected – recategorise if necessary before submitting.</p>


    {{ govukCheckboxes({
      idPrefix: "reclassify-serious-serious",
      name: "reclassify-serious-serious",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Serious misconduct",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Theft",
          text: "Theft"
        },
        {
          value: "Assault",
          text: "Assault",
          checked: true
        },
        {
          value: "Sexual assault",
          text: "Sexual assault"
        },
        {
          value: "Fraud / corruption",
          text: "Fraud / corruption"
        },
        {
          value: "Racism / discrimination",
          text: "Racism / discrimination"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "reclassify-serious-minor",
      name: "reclassify-serious-minor",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Minor misconduct",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Rudeness",
          text: "Rudeness",
          checked: true
        },
        {
          value: "Unfair treatment",
          text: "Unfair treatment"
        },
        {
          value: "Other unprofessionalism",
          text: "Other unprofessionalism"
        },
        {
          value: "Detainee on detainee",
          text: "Detainee on detainee"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "reclassify-serious-service",
      name: "reclassify-serious-service",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Service",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Delay",
          text: "Delay"
        },
        {
          value: "Admin / process error",
          text: "Admin / process error"
        },
        {
          value: "Poor communication",
          text: "Poor communication",
          checked: true
        },
        {
          value: "Wrong information",
          text: "Wrong information"
        },
        {
          value: "Physical environment",
          text: "Physical environment"
        },
        {
          value: "Availability of service",
          text: "Availability of service"
        },
        {
          value: "Provision for minors",
          text: "Provision for minors"
        },
        {
          value: "Complaint handling",
          text: "Complaint handling"
        },
        {
          value: "Property or documents - lost",
          text: "Property or documents - lost"
        },
        {
          value: "Property or documents - withheld",
          text: "Property or documents - withheld"
        },
        {
          value: "Property or documents - stolen",
          text: "Property or documents - stolen"
        }
      ]
    }) }}

    <button class="govuk-button" data-module="govuk-button">Submit</button>

    <!-- this works out the decisons and status-->
    {{ govukCheckboxes({
      idPrefix: "allocated-investigation",
      name: "allocated-investigation",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "yes",
          text: "yes",
          checked: true
        }
      ]
    }) }}

    </form>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <!-- Tabs and tabs content -->
      {% include "psu-v2/includes/tabs.html" %}
    <!-- end -->
  </div>

</div>

{% endblock %}
