{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  My cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index-2nd">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          My cases
        </li>
      </ol>
    </div>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">My cases</h1>
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
              label: {
                text: "Case filter",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              id: "case-filter",
              name: "case-filter",
              autocomplete: "off"
            }) }}
          </div>
        </div>

        {% if 'yes' in data['allocated-investigation'] %}
            <!--display case in investigation and allocated state-->
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">1 item</p>
        {% else %}
        <!--display no cases allocated to me-->
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">0 items</p>
        {% endif %}



        <table class="govuk-table teamcases" data-module="moj-sortable-table">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">
              Select
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="0">Reference</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="1">Name</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="3">Current stage</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="4">PSU reference</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="5">Received</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="6">Response due</button>
            </th>
          </tr>

          <tbody class="govuk-table__body">

            {% if 'yes' in data['allocated-investigation'] %}
            <!--display case in investigation and allocated state-->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  </label>
                </div></td>
              <td class="govuk-table__cell contentpadding"><a class="govuk-link govuk-link--no-visited-state" href="outcome">{{ data['case-ref-psu'] }}</a></td>
              <td class="govuk-table__cell contentpadding">Joseph Bloggs</td>
              <td class="govuk-table__cell contentpadding">PSU Outcome</td>
              <td class="govuk-table__cell contentpadding">{{ data['psu-internal-ref'] | default("157410") }}</td>
              <td class="govuk-table__cell contentpadding">{{ data['current-date-alpha'] }}</td>
              <td class="govuk-table__cell contentpadding">{{ data['2weeks-date-alpha'] }}</td>
            </tr>
            {% else %}
            <!--don't display-->

            {% endif %}
          </tbody>
        </table>


      </div>

      <div class="govuk-grid-column-one-third">
        {% if 'yes' in data['allocated-investigation'] %}
            <!--display case in investigation and allocated state-->
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">1 item</p>
        {% else %}
        <!--display no cases allocated to me-->
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">0 items</p>
        {% endif %}

        <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Unallocate selected</a></p>

    </div>

{% endblock %}
