{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  Registration – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="index">Dashboard</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.timelineStagePSU2  {display: none!important}
.timelineStagePSU3  {display: none!important}

.summaryPSU1a  {display: none!important}

.summaryPSU2a  {display: none!important}
.summaryPSU2b  {display: none!important}
.summaryPSU3  {display: none!important}

.summaryPSU4  {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Registration</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu'] }}</span>
    
    <form class="form" action="index-2nd" method="post">
    {{ govukInput({
      id: "psu-internal-ref",
      name: "psu-internal-ref",
      type: "text",
      autocomplete: "off",
      spellcheck: false,
      classes: "govuk-!-width-full",
      value: data['psu-internal-ref'],
      label: {
        classes: "govuk-label--m",
        text: "PSU reference"
      }
    }) }}

    <button class="govuk-button" data-module="govuk-button">Submit</button>

    <!-- this works out the decisons and status-->
    {{ govukCheckboxes({
      idPrefix: "stillserious",
      name: "stillserious",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "registrationdone",
          text: "registrationdone",
          checked: true
        }
      ]
    }) }}
    
  </form>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <!-- Tabs and tabs content -->
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}
    
    {% set documentsHtml %}
        {% include "psu-v2/includes/documents-tab.html" %}
    {% endset -%}
    
    {% set summaryHtml %}
  
  <div class="summaryPSU1b">
    <!--Registration - allocated-->
  <h2 class="govuk-heading-l">Active stage</h2>
  <h3 class="govuk-heading-m">PSU Registration</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Team
      </dt>
      <dd class="govuk-summary-list__value">
        PSU
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        User
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['PSU-PSU-username'] }}
      </dd>
    </div>
  </dl>
  </div>
  
  <h2 class="govuk-heading-l">Case</h2>
  <h3 class="govuk-heading-m">Deadline</h3>
  <dl class="govuk-summary-list">
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Complaint received
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['current-date-alpha'] }}
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Case created
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['current-date-alpha'] }}
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Response due
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['2weeks-date-alpha'] }}
      </dd>
    </div>
  </dl>
  
  <h2 class="govuk-heading-m">Complaint details</h2>
  
  <dl class="govuk-summary-list">
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Complaint type
      </dt>
      <dd class="govuk-summary-list__value">
        Serious misconduct
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Category
      </dt>
      <dd class="govuk-summary-list__value">
        {% if 'yes' in data['stillserious'] %}
        <!--display case in investigation state-->
        {% for item in data['reclassify-serious-serious'] %}
          <p class="govuk-body">{{item}}</p>
        {% endfor %}
        {% else %}
        <!--starting state of case-->
        Assault
        {% endif %}
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Other categories selected
      </dt>
      <dd class="govuk-summary-list__value">
        {% if 'yes' in data['stillserious'] %}
        <!--display case in investigation state-->
  
        {% for item in data['reclassify-serious-minor'] %}
          <p class="govuk-body">{{item}} (minor misconduct)</p>
        {% endfor %}
  
        {% for item in data['reclassify-serious-service'] %}
          <p class="govuk-body">{{item}} (service)</p>
        {% endfor %}
  
        {% else %}
        <!--starting state of case-->
        Rudeness (minor misconduct)<br>Poor communication (service)
        {% endif %}
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        PSU reference
      </dt>
      <dd class="govuk-summary-list__value">
        {% if 'yes' in data['stillserious'] %}
        <!--display case in investigation state-->
        {{ data['psu-internal-ref'] }}
  
        {% elif 'registrationdone' in data['stillserious'] %}
        <!--display case in investigation state-->
        {{ data['psu-internal-ref'] }}
  
        {% elif 'no' in data['stillserious'] %}
        <!--display case in investigation state-->
        {{ data['psu-internal-ref'] }}
        
        {% else %}
        <!--starting state of case-->
        -
        {% endif %}
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Owning CSU
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['PSU-origin-team'] }}
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Complaint origin
      </dt>
      <dd class="govuk-summary-list__value">
        IRC – Brook House
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Channel
      </dt>
      <dd class="govuk-summary-list__value">
        DCF9 complaint form
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Home office reference
      </dt>
      <dd class="govuk-summary-list__value">
        66389
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Port reference
      </dt>
      <dd class="govuk-summary-list__value">
        -
      </dd>
    </div>
  </dl>
  
  <h2 class="govuk-heading-m">Complainant</h2>
  
  <dl class="govuk-summary-list">
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        Joseph Bloggs
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
        14 May 1984
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Gender
      </dt>
      <dd class="govuk-summary-list__value">
        Male
      </dd>
    </div>
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Nationality
      </dt>
      <dd class="govuk-summary-list__value">
        Ethiopian
      </dd>
    </div>
  </dl>
  
  
    
    {% endset -%}
    
    {% set timelineHtml %}
        {% include "psu-v2/includes/timeline-tab.html" %}
    {% endset -%}
    
    {% set peopleHtml %}
        {% include "psu-v2/includes/people-tab.html" %}
    {% endset -%}
    
    {{ govukTabs({
    items: [
        {
        label: "Documents",
        id: "documents",
        panel: {
            html: documentsHtml
        }
        },
        {
        label: "Summary",
        id: "summary",
        panel: {
            html: summaryHtml
        }
        },
        {
        label: "Timeline",
        id: "timeline",
        panel: {
            html: timelineHtml
        }
        },
        {
        label: "People",
        id: "actions",
        panel: {
            html: peopleHtml
        }
        }
    ]
    }) }}
    <!-- end -->
  </div>

</div>

{% endblock %}
