{% extends "layout-psu-v2.html" %}

{% block pageTitle %}
  Team cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Team cases
        </li>
      </ol>
    </div>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Serious misconduct cases</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Case filter",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            id: "case-filter",
            name: "case-filter",
            autocomplete: "off"
          }) }}
        </div>
      </div>

        {% if 'yes' in data['stillserious'] %}
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">4 items</p>
        {% elseif 'no' in data['stillserious'] %}
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">3 items</p>
        {% else %}
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">4 items</p>
        {% endif %}



        <table class="govuk-table" data-module="moj-sortable-table">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">
              Select
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="0">Reference</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="1">Name</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="2">Sent by</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="3">Current stage</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="4">PSU ref</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="4">Owner</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="5">Received</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
              <button type="button" data-index="6">Deadline</button>
            </th>
          </tr>

          <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="allocation-triage">{{ data['case-ref-psu'] }}</a></td>
                <td class="govuk-table__cell">Joseph Bloggs</td>
                <td class="govuk-table__cell">{{ data['PSU-origin-team'] }}</td>
                <td class="govuk-table__cell">Triage</td>
                <td class="govuk-table__cell">16000</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">{{ data['current-date-alpha'] }}</td>
                <td class="govuk-table__cell">{{ data['2weeks-date-alpha'] }}</td>
              </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  </label>
                </div></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#" style="cursor:default">BF/0123456/22</a></td>
              <td class="govuk-table__cell">John Smith</td>
              <td class="govuk-table__cell">Border Force</td>
              <td class="govuk-table__cell">Investigation</td>
              <td class="govuk-table__cell">15739</td>
              <td class="govuk-table__cell">PSU user 2</td>
              <td class="govuk-table__cell">21 Jul 2022</td>
              <td class="govuk-table__cell">13 Oct 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  </label>
                </div></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#" style="cursor:default">IEDET/0172129/22</a></td>
              <td class="govuk-table__cell">Penny Black</td>
              <td class="govuk-table__cell">IE Detention</td>
              <td class="govuk-table__cell">Investigation</td>
              <td class="govuk-table__cell">15737</td>
              <td class="govuk-table__cell">PSU user 2</td>
              <td class="govuk-table__cell">18 Jul 2022</td>
              <td class="govuk-table__cell">10 Oct 2022</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation"></label>
                </div></td>
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#" style="cursor:default">COMP/0123456/22</a></td>
              <td class="govuk-table__cell">Clarke Kent</td>
              <td class="govuk-table__cell">UKVI</td>
              <td class="govuk-table__cell">Investigation</td>
              <td class="govuk-table__cell">15732</td>
              <td class="govuk-table__cell">PSU user 2</td>
              <td class="govuk-table__cell">15 Jul 2022</td>
              <td class="govuk-table__cell">7 Oct 2022</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="govuk-grid-column-one-third">

        {% if 'yes' in data['stillserious'] %}
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">4 items</p>
        {% elseif 'no' in data['stillserious'] %}
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">3 items</p>
        {% else %}
        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">4 items</p>
        {% endif %}

        {% if 'yes' in data['stillserious'] %}
        <!--display case in investigation state-->
        <!--make the link add the case to team cases-->

        <form class="form" action="" method="post">
        {{ govukCheckboxes({
          idPrefix: "allocated-to-me",
          name: "allocated-to-me",
          classes: "govuk-checkboxes--small js-hidden",
          fieldset: {
          },
          items: [
            {
              value: "yes",
              text: "yes",
              checked: true
            }
          ]
        }) }}

        <button class="govuk-button button-looks-like-link" data-module="">Allocate selected to me</button>

        {% else %}
        <!--all other cases - link is visible but doesn't work-->
        <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Allocate selected to me</a></p>
        
        {% endif %}

        <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Unallocate selected</a></p>
          
      
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            classes: "govuk-!-font-size-19 govuk-!-font-weight-bold",
            text: "Allocate to a team member"
          },
          items: [
            {
              value: "",
              text: ""
            },
            {
              value: "",
              text: "PSU user 2 (psu-user2@homeoffice.gov.uk)"
            },
            {
              value: "",
              text: "PSU user 3 (psu-user3@homeoffice.gov.uk)"
            }
          ]
        }) }}
        <input class="govuk-button" type="submit" name="allocate_to_team_member" value="Allocate"></div>
      </form>
    </div>

{% endblock %}
