<p class="govuk-body"><a class="govuk-link--no-visited-state" href="manage-documents">Manage documents</a></p>
<!--<div id="IEDETform">
    <img src="/public/images/dc9form.png" alt-"IE Detention DC9 form">
</div>-->
<div id="IEDETform">
  <iframe src="/public/images/dc9form.pdf" width="100%" height="700px"></iframe>
</div>
<h2 class="govuk-heading-m">To document</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half"><p class="govuk-body govuk-!-margin-bottom-1">DC9-form-scan.pdf</p></div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-!-text-align-right" href="#">Download</a></p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Public correspondence</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Complaint leaflet</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Complaint letter</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Email</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">CRF</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">DRAFT</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Acknowledgement letter</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Interim response</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Final response</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Appeal leaflet</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">IMB letter</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
