<p class="DECSquestion">This needs looking at...</p>


<h2 class="govuk-heading-m">Deadline</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Complaint received
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['current-date-alpha'] }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case created
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['current-date-alpha'] }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Response due
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['2weeks-date-alpha'] }}
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Complaint categories</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Complaint type
    </dt>
    <dd class="govuk-summary-list__value">
      Serious misconduct
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Category
    </dt>
    <dd class="govuk-summary-list__value">
      Assault
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other categories selected
    </dt>
    <dd class="govuk-summary-list__value">
      Other unprofessionalism (minor misconduct)<br><br>
      Poor communication (service)
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Complainant</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      Joe Bloggs
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      14 May 1984
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Gender
    </dt>
    <dd class="govuk-summary-list__value">
      Male
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Nationality
    </dt>
    <dd class="govuk-summary-list__value">
      Ethiopian
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Other details</h2>

<p class="DECSquestion">Better header needed</p>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Owning CSU
    </dt>
    <dd class="govuk-summary-list__value">
      IE Detention
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Complaint origin
    </dt>
    <dd class="govuk-summary-list__value">
      IRC – Brook House
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Channel
    </dt>
    <dd class="govuk-summary-list__value">
      DCF9 complaint form
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Home office reference
    </dt>
    <dd class="govuk-summary-list__value">
      66389
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Port reference
    </dt>
    <dd class="govuk-summary-list__value">
      -
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Active stage – Triage</h2>
<p class="DECSquestion">What are the active stages?</p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Team
    </dt>
    <dd class="govuk-summary-list__value">
      PSU
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User
    </dt>
    <dd class="govuk-summary-list__value">
      -
    </dd>
  </div>


</dl>
