{% extends "layout-psu-v1.html" %}

{% block pageTitle %}
  Complaint details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="index">Back to dashboard</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.timelineStagePSU1  {display: none!important}
.timelineStagePSU2  {display: none!important}
.timelineStagePSU3  {display: none!important}

.summaryPSU2  {display: none!important}
.summaryPSU3  {display: none!important}
.summaryPSU4  {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Awaiting triage</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu'] }}</span>

    <h2 class="govuk-heading-m">Complaint summary</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% include "includes/complaint-categories-psu-v1.html" %}

<p class="govuk-body">Full complaint details in <a class="govuk-link govuk-link--no-visited-state" href="#summary">summary</a>.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            classes: "govuk-!-font-size-24 govuk-!-font-weight-bold",
            text: "Allocate case to"
          },
          items: [
            {
              value: "",
              text: "Me"
            },
            {
              value: "",
              text: "PSU user 2 (psu-user2@homeoffice.gov.uk)"
            },
            {
              value: "",
              text: "PSU user 3 (psu-user3@homeoffice.gov.uk)"
            }
          ]
        }) }}

        
    {{ govukButton({
      text: "Allocate",
      href: "triage"
    }) }}

  </div>

  <div class="govuk-grid-column-two-thirds">

  <!-- Tabs and tabs content -->
    {% include "psu-v1/includes/tabs.html" %}
  <!-- end -->

  </div>

</div>

{% endblock %}
