{% extends "layout-psu-v1.html" %}

{% block pageTitle %}
  Complaint outcome – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.summary-tab-user {display:none;}
.summary-tab-correspondent-label {display: none;}
.summary-tab-correspondent-data {display: none;}
.timelineStage1 {display: none!important}
.timelineStage2 {display: none!important}
.complainant {display: none}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Complaint outcome</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu'] }}</span>

    <div class="govuk-inset-text">If you aren't ready to record an outcome <a class='govuk-link govuk-link--no-visited-state' href='index'>exit the case</a> and come back later
    </div>

    <form class="form" action="index" method="post">
    {{ govukRadios({
      classes: "govuk-radios--small",
      idPrefix: "outcome",
      name: "outcome",
      fieldset: {
    legend: {
      text: "Outcome",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
      items: [
        {
          value: "substantiated",
          text: "Substantiated"
        },
        {
          value: "partially",
          text: "Partially substantiated"
        },
        {
          value: "unsubstantiated",
          text: "Unsubstantiated"
        },
        {
          value: "withdrawn",
          text: "Withdrawn"
        }
      ]
    }) }}

    <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-psu-outcome">
      Upload final documents
    </label>
    <input class="govuk-file-upload" id="file-upload-psu-outcome" name="file-upload-psu-outcome" type="file" value="psu-outcome-fileUploaded">
  </div>

  {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

  {{ govukCharacterCount({
    name: "psu-outcome-notes",
    id: "psu-outcome-notes",
    maxlength: 4000,
    label: {
      text: "Any other notes",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    value: data['psu-outcome-notes']
  }) }}

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Close case"
    }) }}

    <!--<a class="govuk-link govuk-link--no-visited-state" href="index">I'll come back to this later</a>-->
  </div>

  </div>


  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set documentsHtml %}
      {% include "includes/documents-tab-iedetention-v1-1doc.html" %}
    {% endset -%}

    {% set summaryHtml %}
      {% include "includes/summary-psu-v1.html" %}
    {% endset -%}

    {% set timelineHtml %}
      {% include "includes/timeline-psu-v1.html" %}
    {% endset -%}

    {% set peopleHtml %}
      {% include "includes/people-psu-v1.html" %}
    {% endset -%}

    {{ govukTabs({
    items: [
      {
        label: "Documents",
        id: "documents",
        panel: {
          html: documentsHtml
        }
      },
      {
        label: "Summary",
        id: "summary",
        panel: {
          html: summaryHtml
        }
      },
      {
        label: "Timeline",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "People",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      }
    ]
    }) }}
  </div>




</div>

{% endblock %}
