{% extends "layout-psu-v1.html" %}

{% block pageTitle %}
  Triage complaint – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <!--<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>-->
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.timelineStagePSU2  {display: none!important}
.timelineStagePSU3  {display: none!important}

.summaryPSU1  {display: none!important}
.summaryPSU3  {display: none!important}
.summaryPSU4  {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Triage complaint</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu'] }}</span>
    
    <form class="form" action="/triage-decision" method="post">
    {{ govukInput({
      id: "psu-internal-ref",
      name: "psu-internal-ref",
      type: "text",
      autocomplete: "off",
      spellcheck: false,
      classes: "govuk-!-width-full",
      value: data['psu-internal-ref'],
      label: {
        classes: "govuk-label--m",
        text: "PSU reference"
      }
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--small",
      idPrefix: "serious",
      name: "serious-triage",
      fieldset: {
        legend: {
         text: "Is this a serious misconduct case for PSU to investigate?",
         isPageHeading: false,
         classes: "govuk-fieldset__legend--m"
       }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No – send back to IE Detention"
        },
        {
          value: "not-decs",
          text: "No – send to team not on DECS"
        }
      ]
    }) }}

    <button class="govuk-button" data-module="govuk-button">Submit</button>

    {{ govukCheckboxes({
      idPrefix: "stillserious",
      name: "stillserious",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "no",
          text: "no",
          checked: true
        }
      ]
    }) }}
    
  </form>

  </div>


  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set documentsHtml %}
      {% include "includes/documents-psu-v1.html" %}
    {% endset -%}

    {% set summaryHtml %}
      {% include "includes/summary-psu-v1.html" %}
    {% endset -%}

    {% set timelineHtml %}
      {% include "includes/timeline-psu-v1.html" %}
    {% endset -%}

    {% set peopleHtml %}
      {% include "includes/people-psu-v1.html" %}
    {% endset -%}

    {{ govukTabs({
    items: [
      {
        label: "Documents",
        id: "documents",
        panel: {
          html: documentsHtml
        }
      },
      {
        label: "Summary",
        id: "summary",
        panel: {
          html: summaryHtml
        }
      },
      {
        label: "Timeline",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "People",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      }
    ]
    }) }}
  </div>




</div>

{% endblock %}
