{% extends "layout-ukvi-v1.html" %}

{% block pageTitle %}
  Complaint type – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Complaint type</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['UKVI-case-reference'] }}</span>

    <form class="form" action="complaint-category" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "complainttype",
        name: "complainttype",
        fieldset: {
        },
        items: [
          {
            value: "service",
            text: "Service"
          },
          {
            value: "Ex-Gratia",
            text: "Ex-Gratia"
          },
          {
            value: "minor",
            text: "Minor misconduct"
          },
          {
            value: "serious",
            text: "Serious misconduct"
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>

  <!-- Tabs and tabs content -->
  {% include "ukvi-v1/includes/tabs.html" %}
  <!-- end -->

</div>

{% endblock %}
