{% extends "layout-ukvi-v1.html" %}

{% block pageTitle %}
Triage case details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">Triage case details
      <span class="govuk-caption-l">{{ data['UKVI-case-reference'] }}</span>
    </h1>

    <form class="form" action="complaint-type-channel" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


        <!-- Damage. Custody.-->


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "complainttype",
        name: "complainttype",
        fieldset: {
          legend: {
            text: "Severity",
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "service",
            text: "Very high"
          },
          {
            value: "Ex-Gratia",
            text: "High"
          },
          {
            value: "minor",
            text: "Medium"
          },
          {
            value: "serious",
            text: "Low"
          },
          {
            value: "serious",
            text: "Very low"
          }
        ]
      }) }}

      
      <button class="govuk-button" data-module="govuk-button" value="Complaint-category-button">Continue</button>

    </form>
  </div>

  <!-- Tabs and tabs content -->
  {% include "ukvi-v1/includes/tabs-blank.html" %}
  <!-- end -->

</div>

{% endblock %}
