{% extends "layout-border-force-v1.html" %}

{% block pageTitle %}
  Case – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <!--<a class="govuk-back-link" href="/border-force-v1/index.html">Dashboard</a>-->
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.summary-tab-user {display:none;}
.summary-tab-correspondent-label {display: none;}
.summary-tab-correspondent-data {display: none;}
.timelineStage1 {display: none!important}
.timelineStage2 {display: none!important}
.complainant {display: none}
button.govuk-accordion__show-all {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">{{ data['BF-case-reference'] }}</h1>
    <h2 class="govuk-heading-m">Case details</h2>

    {% set accordianHtml %}
    <span class="govuk-body full-width"><strong>When was the correspondence received?: </strong>{{ data['current-date-digit'] }}</span>
    {% endset -%}

    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Border Force Registration"
          },
          content: {  
          } 
        },
        {
            heading: {
              text: "PSU Registration"
            },
            content: {  
            }
        },
        {
            heading: {
              text: "PSU Triage"
            },
            content: {  
            }
          },
          {
            heading: {
              text: "Border Force Recategorise"
            },
            content: {  
            }
          }
      ]
    }) }}

    <h2 class="govuk-heading-m">Allocate</h2>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="registration">Allocate to me</a></p>

{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    classes: "govuk-!-font-weight-bold",
    text: "Allocate to a team member"
  },
  items: [
    {
      value: "",
      text: ""
    },
    {
      value: "",
      text: "Border Force user 2 (bfuser2@homeoffice.gov.uk)"
    },
    {
      value: "",
      text: "Border Force user 3 (bfuser3@homeoffice.gov.uk)"
    },
    {
      value: "",
      text: "Border Force user 4 (bfuser4@homeoffice.gov.uk)"
    }
  ]
}) }}

{{ govukButton({
text: "Allocate",
href: "correspondents"
}) }}

  </div>

  <!-- Tabs and tabs content -->
    {% include "border-force-v1/includes/tabs.html" %}
  <!-- end -->

</div>

{% endblock %}
