{% extends "layout-border-force-v1.html" %}

{% block pageTitle %}
  Complaint type – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">Complaint category
      <span class="govuk-caption-l">{{ data['BF-case-reference'] }}</span>
    </h1>
    

    <form class="form" action="complaint-type-channel" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        <!-- Damage. Custody.-->


        {{ govukCheckboxes({
          idPrefix: "serious",
          name: "Serious",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Complaint category",
              classes: "govuk-!-display-none",
              isPageHeading: false
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            
            {
              value: "assault",
              text: "Assault"
            },
            {
              value: "fraud",
              text: "Fraud / corruption"
            },
            {
              value: "other",
              text: "Other unprofessionalism"
            },
            {
              value: "racism",
              text: "Racism / discrimination"
            },
            {
                value: "rudeness",
                text: "Rudeness"
            },
            {
              value: "sexualassault",
              text: "Sexual assault"
            },
            {
              value: "theft",
              text: "Theft"
            },
            {
              value: "unfair",
              text: "Unfair treatment"
            }
              
          ]
        }) }}

      <button class="govuk-button" data-module="govuk-button" value="Complaint-category-button">Finish and escalate to PSU</button>

    </form>
  </div>

  <!-- Tabs and tabs content -->
  {% include "border-force-v1/includes/tabs.html" %}
  <!-- end -->

</div>

{% endblock %}
