{% extends "layout-border-force-v1.html" %}

{% block pageTitle %}
  Manage documents – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">To document</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half"><p class="govuk-body govuk-!-margin-bottom-1">jane-smith.msg</p></div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-1">
            <a class="govuk-link govuk-!-text-align-right" href="#">Remove</a></p>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Public correspondence</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Complaint leaflet</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Complaint letter</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Email</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">CRF</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">DRAFT</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Acknowledgement letter</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Interim response</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Final response</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Appeal leaflet</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">IMB letter</h2>
      <p>None</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body"><a class="govuk-link" href="add-documents">Add document</a></p>
  </div>


{% endblock %}
