{% extends "layout-border-force-v1.html" %}

{% block pageTitle %}
  Team cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Dashboard</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Team cases
      </li>
    </ol>
  </div>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Border Force complaints</h1>
        <ul class="govuk-grid-row dashboard__teams">
        <li class="card govuk-body govuk-grid-column-one-quarter">
          <span class="card__body" href="#">
          <span class="govuk-!-font-size-48">5</span>
          <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Border Force Case</span></span>
          <div class="card__footer">
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-tag dashboard__tag">3 Unallocated</span>
          </div>
        </li>
      </ul>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Case filter",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            id: "case-filter",
            name: "case-filter",
            autocomplete: "off"
          }) }}
        </div>
      </div>


        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">5 items</p>


        <table class="govuk-table teamcases" data-module="moj-sortable-table">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">
              Select
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
                <button type="button" data-index="2">Reference</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
                <button type="button" data-index="6">Complaint type</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
                <button type="button" data-index="6">Current stage</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
                <button type="button" data-index="3">Owner</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
                <button type="button" data-index="6">Contribution due</button>
            </th>
            <th scope="col" class="govuk-table__header" aria-sort="none">
                <button type="button" data-index="6">Deadline</button>
            </th>
          </tr>

          <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell contentpadding"><a class="govuk-link govuk-link--no-visited-state" href="#">BF/0172177/22</a></td>
                <td class="govuk-table__cell contentpadding">Service</td>
                <td class="govuk-table__cell contentpadding">Border Force Case Registration</td>
                <td class="govuk-table__cell contentpadding">BFusername3</td>
                <td class="govuk-table__cell contentpadding"></td>
                <td class="govuk-table__cell contentpadding">11 Sep 2022</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell contentpadding">
                    <a class="govuk-link govuk-!-margin-right-3" href="#">BF/0172165/22</a><strong class="govuk-tag govuk-tag--red">rejected by PSU</strong>
                </td>
                <td class="govuk-table__cell contentpadding">Minor misconduct</td>
                <td class="govuk-table__cell contentpadding">Border Force Case QA</td>
                <td class="govuk-table__cell contentpadding">BFusername1</td>
                <td class="govuk-table__cell contentpadding"></td>
                <td class="govuk-table__cell contentpadding">12 Sep 2022</td>
              </tr>
            
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell contentpadding"><a class="govuk-link govuk-link--no-visited-state" href="#">BF/0172143/22</a></td>
                <td class="govuk-table__cell contentpadding">Service</td>
                <td class="govuk-table__cell contentpadding">Border Force Case Triage</td>
                <td class="govuk-table__cell contentpadding">BFusername2</td>
                <td class="govuk-table__cell contentpadding">6 Sep 2022</td>
                <td class="govuk-table__cell contentpadding">13 Sep 2022</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell contentpadding">
                    <a class="govuk-link govuk-!-margin-right-3" href="#">BF/0172129/22</a><strong class="govuk-tag govuk-tag--red">rejected by PSU</strong>
                </td>
                <td class="govuk-table__cell contentpadding">Minor misconduct</td>
                <td class="govuk-table__cell contentpadding">Border Force Case Triage</td>
                <td class="govuk-table__cell contentpadding">BFusername1</td>
                <td class="govuk-table__cell contentpadding">7 Sep 2022</td>
                <td class="govuk-table__cell contentpadding">14 Sep 2022</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-7" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell contentpadding">
                    <a class="govuk-link govuk-!-margin-right-3" href="#">BF/0172121/22</a><strong class="govuk-tag govuk-tag--red">rejected by PSU</strong>
                </td>
                <td class="govuk-table__cell contentpadding">Minor misconduct</td>
                <td class="govuk-table__cell contentpadding">Border Force Case Triage</td>
                <td class="govuk-table__cell contentpadding">BFusername2</td>
                <td class="govuk-table__cell contentpadding">8 Sep 2022</td>
                <td class="govuk-table__cell contentpadding">15 Sep 2022</td>
              </tr>
          </tbody>
        </table>

      </div>

      <div class="govuk-grid-column-one-third">

        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">5 items</p>

        <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Unallocate selected</a></p>
    </div>

{% endblock %}
