{% extends "layout-iedetention-v1.html" %}

{% block pageTitle %}
  Business area – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
}) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Additional details</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['IEDET-case-reference'] }}</span>

    <form class="form" action="outcome" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="sort">
          Business area
        </label>
        <select class="govuk-select" id="sort" name="sort">
            <option value=""></option>
            <option value="">Aberdeen</option>
            <option value="">Becket House</option>
            <option value="">Birmingham Airport</option>
            <option value="">Capital Building</option>
        </select>
        </div>
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
            classes: "govuk-radios--small",
            idPrefix: "gender",
            name: "gender",
            fieldset: {
              legend: {
                text: "Is a Letter of Authority required?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}


      <button class="govuk-button" data-module="govuk-button">Submit</button>

    </form>
  </div>

  <!-- Tabs and tabs content -->
  {% include "iedetention-v1/includes/tabs.html" %}
  <!-- end -->

</div>

{% endblock %}
