{% extends "layout-iedetention-v1.html" %}

{% block pageTitle %}
  Case – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="/iedetention-v1/">Dashboard</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">IEDET/0172177/22</h1>
    <h2 class="govuk-heading-m">Case details</h2>
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Registration"
          },
          content: {
            html: "<h3 class='govuk-heading-s'>Correspondence received</h3><p class='govuk-body'>{{ data['current-date-digit'] }}</p>"
          }
        }
      ]
    }) }}

    <!--<p class="govuk-body"><a class="govuk-link--no-visited-state" href="">Allocate to me</a></p>-->

{% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "sort",
      name: "sort",
      label: {
        classes: "govuk-!-font-size-24 govuk-!-font-weight-bold",
        text: "Allocate to"
      },
      items: [
        {
          value: "",
          text: "Me"
        },
        {
          value: "",
          text: "Team member 1 (teammember1@homeoffice.gov.uk)"
        },
        {
          value: "",
          text: "Team member 2 (teammember2@homeoffice.gov.uk)"
        },
        {
          value: "",
          text: "Team member 3 (teammember3@homeoffice.gov.uk)"
        },
        {
          value: "",
          text: "Team member 4 (teammember4@homeoffice.gov.uk)"
        }
      ]
    }) }}

{{ govukButton({
      text: "Continue",
      href: "correspondents"
    }) }}



  </div>


  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set documentsHtml %}
      {% include "includes/documents-tab-iedetention-v1-1doc.html" %}
    {% endset -%}


    {% set summaryHtml %}
    <h2 class="govuk-heading-m">Active stage – registration</h2>
    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
        classes: 'govuk-summary-list',
        rows: [
          {
            key: {
              text: "Team"
            },
            value: {
              text: "IE Detention"
            }
          },
          {
            key: {
              text: "User"
            },
            value: {
              text: ""
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Case summary</h2>
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {{ govukSummaryList({
          classes: 'govuk-summary-list',
          rows: [
            {
              key: {
                text: "Created"
              },
              value: {
                text: "01/07/2022"
              }
            },
            {
              key: {
                text: "Deadline"
              },
              value: {
                text: "29/07/2022"
              }
            },
            {
              key: {
                text: "When was the correspondence received?"
              },
              value: {
                text: "01/07/2022"
              }
            }
          ]
        }) }}

    {% endset -%}

    {% set timelineHtml %}

    {% from "govuk/components/details/macro.njk" import govukDetails %}

    {% set timelineCasenoteHtml %}

    {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
      {{ govukCharacterCount({
      name: "timelineCasenote",
      id: "timelineCasenote",
      maxlength: 2000,
      label: {
        text: "Case note",
        classes: "govuk-label--s",
        isPageHeading: true
      }
      }) }}

      {{ govukButton({
        text: "Add",
        href: "/url/to/next/page"
      }) }}

    {% endset %}

    {{ govukDetails({
      summaryText: "Add case note",
      text: "[Add text area here]",
      html: timelineCasenoteHtml
    }) }}

    <div class="timeline">
      <ul>
        <!--<li class="">
          <p><strong>Allocated to iedet user</strong></p>
          <p>Stage: Registration</p>
          <p><span>1 July 2022 at 15:10</span><span>iedet user</span></p>
        </li>
        <li class="">
          <p><strong>Allocated to the IE Detention</strong></p>
          <p>Stage: Registration</p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>-->
        <li class="">
          <p><strong>Stage: Registration Started</strong></p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>
        <li class="">
          <p><strong>Document: document.doc Created</strong></p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>
        <li class="">
          <p><strong>Case Created</strong></p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>
      </ul>
    </div>

    {% endset -%}

    {% set peopleHtml %}
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="">Manage people</a></p>

    {% endset -%}

    {{ govukTabs({
    items: [
      {
        label: "Documents",
        id: "documents",
        panel: {
          html: documentsHtml
        }
      },
      {
        label: "Summary",
        id: "summary",
        panel: {
          html: summaryHtml
        }
      },
      {
        label: "Timeline",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "People",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      }
    ]
    }) }}
  </div>




</div>

{% endblock %}
