{% extends "layout-iedetention-v1.html" %}

{% block pageTitle %}
  Dispatch – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
}) }}
    <a class="govuk-back-link" href="#">Dashboard</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Complaint outcome</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['IEDET-case-reference'] }}</span>

    <h2 class="govuk-heading-m">Case details</h2>

    <!-- Accordian -->
    {% set triageHtml %}

{% endset -%}

{% set refHtml %}

{% endset -%}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "IE Detention Registration"
      },
      content: {
        html: triageHtml
      }
    },
    {
      heading: {
        text: "IE Detention Triage"
      },
      content: {
        html: refHtml
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Allocate</h2>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="registration">Allocate to me</a></p>

{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    classes: "govuk-!-font-weight-bold",
    text: "Allocate to a team member"
  },
  items: [
    {
      value: "",
      text: ""
    },
    {
      value: "",
      text: "IE Detention user 2 (iedetuser2@homeoffice.gov.uk)"
    },
    {
      value: "",
      text: "IE Detention user 3 (iedetuser3@homeoffice.gov.uk)"
    }
  ]
}) }}

{{ govukButton({
text: "Allocate",
href: "correspondents"
}) }}
   
  </div>

  <!-- Tabs and tabs content -->
  {% include "iedetention-v1/includes/tabs.html" %}
  <!-- end -->

</div>

{% endblock %}
