{% extends "layout-iedetention-v1.html" %}

{% block pageTitle %}
  Case – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Complainant details</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">IEDET/0172177/22</span>

    <form class="form" action="complaint-input" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukDateInput({
        id: "date-of-birth",
        namePrefix: "date-of-birth",
        fieldset: {
          legend: {
            text: "Date of birth",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 30 1 2001"
        }
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "gender",
        name: "gender",
        fieldset: {
          legend: {
            text: "Gender",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "male",
            text: "Male"
          },
          {
            value: "female",
            text: "Female"
          }
        ]
      }) }}

      {{ govukSelect({
        id: "nationality",
        name: "nationality",
        label: {
          classes: "govuk-!-font-weight-bold",
          text: "Nationality [ADD COUNTRY LIST]"
        },
        items: [
          {
            value: "",
            text: ""
          },
          {
            value: "unitedkingdom",
            text: "United Kingdom"
          },
          {
            value: "other",
            text: "Other"
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Company name",
          classes: "govuk-label--s"
        },
        id: "companyname",
        name: "companyname"
      }) }}

      {{ govukInput({
        label: {
          text: "Home Office reference",
          classes: "govuk-label--s"
        },
        id: "homeofficereference",
        name: "homeofficereference"
      }) }}

      {{ govukInput({
        label: {
          text: "Port reference",
          classes: "govuk-label--s"
        },
        id: "portreference",
        name: "portreference"
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
  </div>


  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set documentsHtml %}
      {% include "includes/documents-tab-iedetention-v1-1doc.html" %}
    {% endset -%}

    {% set summaryHtml %}
      {% include "includes/summary-iedetention-v1.html" %}
    {% endset -%}

    {% set timelineHtml %}

    {% from "govuk/components/details/macro.njk" import govukDetails %}

    {% set timelineCasenoteHtml %}

    {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
      {{ govukCharacterCount({
      name: "timelineCasenote",
      id: "timelineCasenote",
      maxlength: 2000,
      label: {
        text: "Case note",
        classes: "govuk-label--s",
        isPageHeading: true
      }
      }) }}

      {{ govukButton({
        text: "Add",
        href: "/url/to/next/page"
      }) }}

    {% endset %}

    {{ govukDetails({
      summaryText: "Add case note",
      text: "[Add text area here]",
      html: timelineCasenoteHtml
    }) }}

    <div class="timeline">
      <ul>
        <!--<li class="">
          <p><strong>Allocated to iedet user</strong></p>
          <p>Stage: Registration</p>
          <p><span>1 July 2022 at 15:10</span><span>iedet user</span></p>
        </li>
        <li class="">
          <p><strong>Allocated to the IE Detention</strong></p>
          <p>Stage: Registration</p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>-->
        <li class="">
          <p><strong>Stage: Registration Started</strong></p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>
        <li class="">
          <p><strong>Document: document.doc Created</strong></p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>
        <li class="">
          <p><strong>Case Created</strong></p>
          <p><span>1 July 2022 at 15:03</span><span>iedet user</span></p>
        </li>
      </ul>
    </div>

    {% endset -%}

    {% set peopleHtml %}
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="">Manage people</a></p>

    {% endset -%}

    {{ govukTabs({
    items: [
      {
        label: "Documents",
        id: "documents",
        panel: {
          html: documentsHtml
        }
      },
      {
        label: "Summary",
        id: "summary",
        panel: {
          html: summaryHtml
        }
      },
      {
        label: "Timeline",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "People",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      }
    ]
    }) }}
  </div>




</div>

{% endblock %}
