{% extends "layout-iedetention-v1.html" %}

{% block pageTitle %}
  Create single case – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
      },
      html: ''
    }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Create single case</h1>
      <form class="form" action="/iedetention-v1/create-case-created" method="post">

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "passport-issued",
          namePrefix: "passport-issued",
          fieldset: {
            legend: {
              text: "When was the correspondence received?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 30 1 2001"
          }
        }) }}

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            classes: "govuk-!-font-weight-bold",
            text: "Are there any documents to include?"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Create case</button>
      </form>

    </div>
  </div>

{% endblock %}
