{% extends "layout-iedetention-v1.html" %}

{% block pageTitle %}
  Dashboard – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form action="#" method="POST" enctype="multipart/form-data">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Load case",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "For example ABC/1234567/12"
        },
        id: "event-name",
        name: "event-name"
      }) }}
    </form>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Dashboard</h1>
      <h2 class="govuk-heading-m">My cases</h2>
      <ul class="govuk-grid-row dashboard__teams">
        <li class="card govuk-body govuk-grid-column-one-quarter">
          <a class="card__body" href="#">
            <span class="govuk-!-font-size-48">0</span>
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Cases</span></a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Team cases</h2>
        <ul class="govuk-grid-row dashboard__teams">
          <li class="card govuk-body govuk-grid-column-one-quarter">
            <a class="card__body" href="team-cases">
            <span class="govuk-!-font-size-48">5</span>
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">IE Detention</span></a>
          <div class="card__footer">
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-tag dashboard__tag">3 Unallocated</span>
          </div>
        </li>
          </ul>
        </div>
      </div>

{% endblock %}
