{% extends "layout-iedetention-v1.html" %}

{% block pageTitle %}
  Complaint outcome – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <a class="govuk-back-link" href="#">Back to dashboard</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Complaint outcome</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['IEDET-case-reference'] }}</span>

    <form class="form" action="final-response" method="post">


      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
       <!--
      {{ govukInsetText({
        text: "Send the response to the complainant and attach the email to this case."
      }) }}--> 

      {% set otherHtml %}
      {{ govukCharacterCount({
        name: "otherdetails",
        id: "otherdetails",
        maxlength: 4000,
        label: {
          text: "Details",
          classes: "govuk-label--s",
          isPageHeading: true
        }
      }) }}
    {% endset -%}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "stillserious",
        name: "stillserious",
        fieldset: {
        },
        items: [
          {
            value: "yes",
            text: "Substantiated"
          },
          {
            value: "yes",
            text: "Partially substantiated"
          },
          {
            value: "yes",
            text: "Unsubstantiated"
          },
          {
            value: "yes",
            text: "Withdrawn"
          },
        {
          value: "escalate",
          text: "Escalate to PSU"
        }
        ]
      }) }}


    <!--  , 
          {
            value: "other",
            text: "Other",
            conditional: {
                html: otherHtml
              }
          } -->


      <button class="govuk-button" data-module="govuk-button">Submit</button>

    </form>
  </div>

  <!-- Tabs and tabs content -->
  {% include "iedetention-v1/includes/tabs.html" %}
  <!-- end -->

</div>

{% endblock %}
