{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  Upload final response – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.summaryPSU1a  {display: none!important}
.summaryPSU1b  {display: none!important}
.summaryPSU2a  {display: none!important}
.summaryPSU2b  {display: none!important}
</style>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Upload final response</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu-new'] }}</span>


    <form class="form" action="index-end" method="post">

        <div class="govuk-form-group">
            <fieldset id="FinalResponseDocument" class="govuk-fieldset ">
                <legend id="FinalResponseDocument-legend" class="govuk-fieldset__legend">
                    <span class="govuk-fieldset__heading govuk-label--s">Final response</span>
                </legend>
                <table class="govuk-table">
                    <tbody class="govuk-table__body"><br>
                        <a class="govuk-body govuk-link" href="#">Add a document</a>
                    </tbody>
                </table>
            </fieldset>
        </div>    

  <!--HTML date-->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Final response sent
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 30 6 2022
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

    {{ govukButton({
      text: "Close case",
      value: data['case-closed']
    }) }}

    {{ govukCheckboxes({
      idPrefix: "stillserious",
      name: "stillserious",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "no",
          text: "no",
          checked: true
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "allocated-to-me",
      name: "allocated-to-me",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "no",
          text: "no",
          checked: true
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "finished",
      name: "finished",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "yes",
          text: "yes",
          checked: true
        }
      ]
    }) }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <!-- Tabs and tabs content -->
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set documentsHtml %}
      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="manage-documents">Manage documents</a></p>
<div id="IEDETform">
  <iframe src="/border-force-v1/includes/email.html" width="100%" height="700px"></iframe>
</div>
<h2 class="govuk-heading-m">To document</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half"><p class="govuk-body govuk-!-margin-bottom-1">{{ data['BF-docname'] }}</p></div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-!-text-align-right" href="#">Download</a></p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Public correspondence</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Complaint leaflet</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Complaint letter</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Email</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">CRF</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">DRAFT</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endset -%}

    {% set summaryHtml %}
      {% include "border-force-v1/includes/summary-tab.html" %}
    {% endset -%}

    {% set timelineHtml %}
      {% include "border-force-v1/includes/timeline-tab.html" %}
    {% endset -%}

    {% set peopleHtml %}
      {% include "border-force-v1/includes/people-tab.html" %}
    {% endset -%}

    {{ govukTabs({
    items: [
      {
        label: "Documents",
        id: "documents",
        panel: {
          html: documentsHtml
        }
      },
      {
        label: "Summary",
        id: "summary",
        panel: {
          html: summaryHtml
        }
      },
      {
        label: "Timeline",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "People",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      },
      {
        label: "Actions",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "Ex-Gratia",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      }
    ]
    }) }}
    <!-- end -->
  </div>
  
</div>

{% endblock %}
