{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  Review complaint categories – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
  .timelineStagePSU2  {display: none!important}
  .timelineStagePSU3  {display: none!important}

  .summaryPSU1a  {display: none!important}
  .summaryPSU1b  {display: none!important}
  .summaryPSU2a  {display: none!important}
 
  .summaryPSU3  {display: none!important}

  .summaryPSU4  {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <form class="form" action="complaint-category" method="post">

      <div class="govuk-form-group">
        

          <h1 class="govuk-heading-l">Review complaint categories<span class="govuk-caption-l">{{ data['BF-case-reference'] }}</span>
          </h1>
              

          
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-display-none">Review complaint categories</legend>

          <div id="review-hint" class="govuk-hint">
            Current categories are selected – recategorise if necessary before submitting.
          </div>

          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category" name="category" type="checkbox" value="assault" checked>
              <label class="govuk-label govuk-checkboxes__label" for="category">
                Assault
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category-2" name="category" type="checkbox" value="fraud">
              <label class="govuk-label govuk-checkboxes__label" for="category-2">
                Fraud / corruption
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category-3" name="category" type="checkbox" value="other">
              <label class="govuk-label govuk-checkboxes__label" for="category-3">
                Other unprofessionalism
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category-4" name="category" type="checkbox" value="racism">
              <label class="govuk-label govuk-checkboxes__label" for="category-4">
                Racism / discrimination
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category-5" name="category" type="checkbox" value="rudeness">
              <label class="govuk-label govuk-checkboxes__label" for="category-5">
                Rudeness
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category-6" name="category" type="checkbox" value="sexualassault">
              <label class="govuk-label govuk-checkboxes__label" for="category-6">
                Sexual assault
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category-7" name="category" type="checkbox" value="theft">
              <label class="govuk-label govuk-checkboxes__label" for="category-7">
                Theft
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="category-8" name="category" type="checkbox" value="theft">
              <label class="govuk-label govuk-checkboxes__label" for="category-8">
                Unfair treatment
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>
      
      <button class="govuk-button" data-module="govuk-button">Submit</button>

    </form>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <!-- Tabs and tabs content -->
      {% include "psu-v2/includes/tabs.html" %}
    <!-- end -->
  </div>

</div>


{% endblock %}
