{% extends "layout-psu-v3.html" %}

{% block pageTitle %}
  Registration – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
    <!--<a class="govuk-back-link" href="index">Dashboard</a>-->
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<style>
.timelineStagePSU2  {display: none!important}
.timelineStagePSU3  {display: none!important}

.summaryPSU1a  {display: none!important}

.summaryPSU2a  {display: none!important}
.summaryPSU2b  {display: none!important}
.summaryPSU3  {display: none!important}

.summaryPSU4  {display: none!important}
</style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l margin-0">Registration</h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">{{ data['case-ref-psu-new'] }}</span>
    
    <form class="form" action="index-2nd" method="post">
    {{ govukInput({
      id: "psu-internal-ref",
      name: "psu-internal-ref",
      type: "text",
      autocomplete: "off",
      spellcheck: false,
      classes: "govuk-!-width-full",
      value: data['psu-internal-ref'],
      label: {
        classes: "govuk-label--m",
        text: "PSU reference"
      }
    }) }}

    <button class="govuk-button" data-module="govuk-button">Submit</button>

    <!-- this works out the decisons and status-->
    {{ govukCheckboxes({
      idPrefix: "stillserious",
      name: "stillserious",
      classes: "govuk-checkboxes--small js-hidden",
      fieldset: {
      },
      items: [
        {
          value: "registrationdone",
          text: "registrationdone",
          checked: true
        }
      ]
    }) }}
    
  </form>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <!-- Tabs and tabs content -->
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set documentsHtml %}
      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="manage-documents">Manage documents</a></p>
<div id="IEDETform">
  <iframe src="/border-force-v1/includes/email.html" width="100%" height="700px"></iframe>
</div>
<h2 class="govuk-heading-m">To document</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half"><p class="govuk-body govuk-!-margin-bottom-1">{{ data['BF-docname'] }}</p></div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-!-text-align-right" href="#">Download</a></p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Public correspondence</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Complaint leaflet</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Complaint letter</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">Email</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">CRF</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">DRAFT</h2>
<p>None</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endset -%}

    {% set summaryHtml %}
      {% include "border-force-v1/includes/summary-tab.html" %}
    {% endset -%}

    {% set timelineHtml %}
      {% include "border-force-v1/includes/timeline-tab.html" %}
    {% endset -%}

    {% set peopleHtml %}
      {% include "border-force-v1/includes/people-tab.html" %}
    {% endset -%}

    {{ govukTabs({
    items: [
      {
        label: "Documents",
        id: "documents",
        panel: {
          html: documentsHtml
        }
      },
      {
        label: "Summary",
        id: "summary",
        panel: {
          html: summaryHtml
        }
      },
      {
        label: "Timeline",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "People",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      },
      {
        label: "Actions",
        id: "timeline",
        panel: {
          html: timelineHtml
        }
      },
      {
        label: "Ex-Gratia",
        id: "actions",
        panel: {
          html: peopleHtml
        }
      }
    ]
    }) }}
    <!-- end -->
  </div>

</div>

{% endblock %}
