<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
  </head>
  <body>
<style>
p  {font: 19px Arial, sans-serif;}
table, td, th {border: 1px solid black;}

table {
  border-collapse: collapse;
  width: 100%;
  background: #efefef
}
table p {
  margin: 0; font: 16px Arial, sans-serif;
}
th {

}
th, td {
  padding: 5px;
}

</style>

<table padding="0">
<tr>
    <td><p>Date:</p></td>
    <td><p>08:45am, {{ data['current-date-alpha'] }}</p></td>
</tr>
<tr>
    <td><p>Subject:</p></td>
    <td><p>Humiliating and degrading treatment by Border Force officers</p></td>
</tr>
<tr>
    <td><p>From:</p></td>
    <td><p>janesmith@gmail.com</p></td>
</tr>
<tr>
    <td><p>To:</p></td>
    <td><p>complaints@homeoffice.gov.uk</p></td>
</tr>

</table>

<p>Dear Sir</p>

<p>I write to express my distress and anger at the way I was treated on my arrival at Heathrow airport last weekend with my 6-year-old daughter. Shortly after passing through passport control, we were approached by two Border Force officers who asked us to follow them. I was separated from my daughter who had to wait in another room. I was taken to a room with a table and chair, no ventilation, no window, with no access to water.  They took my phone, locked the door and left. I was left for 3 hours like this and despite shouting and banging at the door no one came to help me or to explain why I was being imprisoned.</p>
<p>After over 3 hours one of the officers returned and asked for my passport. This was upsetting and I asked to be allowed to see my daughter and ring my husband. I was told that ‘it was not appropriate for me to see her or to call anyone at this time’. I then told them I suffered from claustrophobia and couldn’t be left alone in such a small room but was openly mocked for being immature. I asked for food and water and was told that ‘this wasn’t a café'.</p>
<p>I said I had a headache and wanted a paracetamol and was told that someone would bring me something. This didn’t happen.</p>
<p>A further 3 hours passed before anyone returned. This time, the two male officers were accompanied by a female who ordered me to remove my clothes. To my horror, I was subjected to what I can only describe the most humiliating and intrusive of searches by this woman. The two male officers remained in the room while this was happening. I still feel sick with humiliation.</p>
<p>After a total of nearly 8 hours, I was allowed to leave and see my daughter. She was nearly as upset as I was. I got no explanation, no apology and no help. I do not understand why I was subjected to this inhuman and degrading treatment.
</p>
<p>    I have been traumatised by this experience. I demand an explanation. I have been a British citizen all my life.</p>
<p>Yours sincerely</p>
<p>Jane Smith</p>

  </body>
</html>