<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
  </head>
  <body>
<style>
p  {font: 19px Arial, sans-serif;}
table, td, th {border: 1px solid black;}

table {
  border-collapse: collapse;
  width: 100%;
  background: #efefef
}
table p {
  margin: 0; font: 16px Arial, sans-serif;
}
th {

}
th, td {
  padding: 5px;
}

</style>

<table padding="0">
<tr>
    <td><p>Date:</p></td>
    <td><p>08:45am, {{ data['current-date-alpha'] }}</p></td>
</tr>
<tr>
    <td><p>Subject:</p></td>
    <td><p>I have been the victim of corruption</p></td>
</tr>
<tr>
    <td><p>From:</p></td>
    <td><p>janesmith@gmail.com</p></td>
</tr>
<tr>
    <td><p>To:</p></td>
    <td><p>complaints@homeoffice.gov.uk</p></td>
</tr>

</table>

<p>Dear Sir</p>

<p>I am writing to you because I am desperate. I have been the victim of a fraud which was committed by one of your staff, Mr Roger Eccles, a UKVI case worker. He knew I was a vulnerable person and he defrauded me of a lot of money. I am disgusted that you can let a member of your government act in such a corrupt way.</p>

<p>I was stopped and held by Border Force officials at Heathrow last week and the reason was that UKVI had issued me with the wrong visa. This had taken me months to sort out. I was allowed to enter the UK on the condition that I obtain the right visa within 48 hours.</p>

<p>So, I phoned UKVI as soon as I got to my destination and after several hours of waiting, I was finally directed to Mr Eccles who told me he had been assigned to my case. I explained the circumstances and that I was terrified of being deported. He said he knew I was desperate, and he would ring me back within 4 hours. He did not. So, I rang again and got put through to him again and asked why he had not got back to me. He said he would ring me back before close of play that day. He did not.</p>

<p>When I called again Mr Eccles had already gone home. But later that night he called me on his mobile phone and told me there was not time to arrange the visa within 48 hours through normal routes, and anyway he said that 'people like me don't deserve to live in this country'. I was shocked. He put the phone down on me.</p>

<p>He rang me back an hour later and said he had found a way for me to get the visa, but I would have to pay him £5750 to his private account and he would make the necessary arrangements. I was shocked but I had to pay it.</p>

<p>He told me to ring him again the following morning and he would arrange to meet me at the UKVI centre in Croydon, but when I got there, I was told he didn’t work in the building. I rang his mobile several times with no reply. I have paid him thousands of pounds and he has kept the money for himself, and I still have no visa. Please help me, I am desperate.</p>
<p>Yours sincerely</p>
<p>Jane Smith</p>

  </body>
</html>