
<style>
  .govuk-summary-list {margin-left: 40px; width: 96%}
  h3 {margin-left: 20px;}
</style>


<!-- Substantive -->
<h2 class="govuk-heading-m">Active stage</h2>
<h3>FOI appeal creation</h3>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Team
    </dt>
    <dd class="govuk-summary-list__value">
      FOI
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      User
    </dt>
    <dd class="govuk-summary-list__value">
      FOIusername1
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Case</h2>
<h3>Summary</h3>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Appeal type
    </dt>
    <dd class="govuk-summary-list__value">
      Time based internal review
      <!--Substantive ICO appeal
      Substantive First-tier Tribunal appeal-->
    </dd>
  </div>
  <!--<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      First-tier Tribunal reference
      ICO reference
    </dt>
    <dd class="govuk-summary-list__value">
      1234567
    </dd>
  </div>-->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Appeal received
    </dt>
    <dd class="govuk-summary-list__value">
      29 April 2022
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Due date
    </dt>
    <dd class="govuk-summary-list__value">
      10 May 2022
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case owner
    </dt>
    <dd class="govuk-summary-list__value">
      Eric Evans
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Business area contact
    </dt>
    <dd class="govuk-summary-list__value">
      Jane Jones
    </dd>
  </div>
</dl>

<div class="js-hidden">
  <h2 class="govuk-heading-m">Appeal summary</h2>
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Appeal type
      </dt>
      <dd class="govuk-summary-list__value">
        Time based ICO
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        ICO reference
      </dt>
      <dd class="govuk-summary-list__value">
        1234567
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Appeal received
      </dt>
      <dd class="govuk-summary-list__value">
        29 April 2022
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Due date
      </dt>
      <dd class="govuk-summary-list__value">
        10 May 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        IRT case owner
      </dt>
      <dd class="govuk-summary-list__value">
        Eric Evans
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Business area contact
      </dt>
      <dd class="govuk-summary-list__value">
        Jane Jones
      </dd>
    </div>
  </dl>
</div>

<!-- Time based -->
<div class="js-hidden">
  <h2 class="govuk-heading-m">Active stage</h2>
  <h3>FOI appeal creation</h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Team
      </dt>
      <dd class="govuk-summary-list__value">
        FOI
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        User
      </dt>
      <dd class="govuk-summary-list__value">
        FOIusername1
      </dd>
    </div>
  </dl>

  <h2 class="govuk-heading-m">Case</h2>
  <h3>Summary</h3>
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Appeal type
      </dt>
      <dd class="govuk-summary-list__value">
        Time based ICO appeal
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        ICO reference
      </dt>
      <dd class="govuk-summary-list__value">
        1234567
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Appeal received
      </dt>
      <dd class="govuk-summary-list__value">
        29 April 2022
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Due date
      </dt>
      <dd class="govuk-summary-list__value">
        10 May 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Case owner
      </dt>
      <dd class="govuk-summary-list__value">
        Eric Evans
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Business area contact
      </dt>
      <dd class="govuk-summary-list__value">
        Jane Jones
      </dd>
    </div>
  </dl>

  <div class="js-hidden">
    <h2 class="govuk-heading-m">Appeal summary</h2>
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appeal type
        </dt>
        <dd class="govuk-summary-list__value">
          Time based ICO
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ICO reference
        </dt>
        <dd class="govuk-summary-list__value">
          1234567
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appeal received
        </dt>
        <dd class="govuk-summary-list__value">
          29 April 2022
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Due date
        </dt>
        <dd class="govuk-summary-list__value">
          10 May 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case owner
        </dt>
        <dd class="govuk-summary-list__value">
          Eric Evans
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business area contact
        </dt>
        <dd class="govuk-summary-list__value">
          Jane Jones
        </dd>
      </div>
    </dl>
  </div>
</div>





