
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DECS prototypes
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-m">Transfer to PSU</h2>

      <p><a href="/iedetention-v1/">IE Detention v1</a></p>


      <!--Create single case Prototype Mural board-->

    </div>
  </div>

{% endblock %}
