
{% extends "layout.html" %}

{% block pageTitle %}
  DECS prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!--<h1 class="govuk-heading-xl">
        DECS prototypes
      </h1>{{releaseVersion | log }}-->
      <h1 class="govuk-heading-l">Transfer to PSU</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body"><strong>IE Detention</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p>Search for complainant – no results.<br>
          'Create single case'.<br>
          'Allocate to me'.<br>
          Add complainant.<br>
          Categorise complaint.<br>
        <a href="https://app.mural.co/t/enablers3351/m/enablers3351/1658822627886/fcd17ca359b84254bedd891a63391cb6bb9e0ef0?sender=u902ea9034d1fe9a1ae1e4995" target="_blank">Usability testing findings here</a> (Mural board).</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p align="right"><a href="/iedetention-v1/" target="_blank">Version 1</a></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body govuk-!-font-weight-bold">PSU</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p>Go to 'Team cases' and select the top IEDET case.</p>
          <p>'Allocate to me'.</p>
          <p>If the decision on the case is 'yes it is serious' it goes back in to the team queue for an outcome to then be recorded.</p>
          <p>All decisions have the appropriate outcome -  <a href="https://app.mural.co/t/enablers3351/m/enablers3351/1656686489796/1a1f3c6be3a4b7788a90cdb123d0228858eb7ab9?sender=u902ea9034d1fe9a1ae1e4995" target="_blank">the flow is here</a> (Mural board).</p>
          <p>Use the 'Clear data' link in the footer to reset the prototype.</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p align="right"><a href="/psu-v1/" target="_blank">Version 1</a></p>
          <p align="right"><a href="/psu-v0/" target="_blank">Version 0</a></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

      <p>Transfer to PSU <a href="https://app.mural.co/t/enablers3351/m/enablers3351/1656686489796/1a1f3c6be3a4b7788a90cdb123d0228858eb7ab9?sender=u902ea9034d1fe9a1ae1e4995" target="_blank">Mural board</a>.</p>

    </div>
  </div>

{% endblock %}
