
{% extends "layout.html" %}

{% block pageTitle %}
  DECS prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!--<h1 class="govuk-heading-xl">
        DECS prototypes
      </h1>{{releaseVersion | log }}-->
      <h1 class="govuk-heading-l">Transfer to PSU</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body"><strong>IE Detention</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p>Search for complainant – no results.<br>
          'Create single case'.<br>
          'Allocate to me'.<br>
          Add complainant.<br>
          Categorise complaint.<br>
        <a href="https://app.mural.co/t/enablers3351/m/enablers3351/1658822627886/fcd17ca359b84254bedd891a63391cb6bb9e0ef0?sender=u902ea9034d1fe9a1ae1e4995" target="_blank">Usability testing findings</a> (Mural board).</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p align="right"><a href="/iedetention-v1/">IEDET version 1</a></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body"><strong>Border Force</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p>Same as IE Detention above – 'Create single case'.</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p align="right"><a href="/border-force-v1/">BF version 1</a></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body"><strong>UKVI</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p>Same as IE Detention above – 'Create single case'.</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p align="right"><a href="/ukvi-v1/">UKVI version 1</a></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body govuk-!-font-weight-bold">PSU</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p>Go to 'Team cases' and select the top IEDET case.</p>
          <p>'Allocate to me'.</p>
          <p>Use the 'Clear data' link in the footer to reset the prototypes.</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p align="right"><a href="/psu-v1/">PSU version 1</a></p>
          <p align="right"><a href="/psu-v0/">Version 0</a></p>
          <p align="right"><a href="/psu-v2/v3/">Demo</a></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

    </div>
  </div>

{% endblock %}
