{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
      <h2 class="govuk-heading-l">This is just a page of rough elements</h2>

      <a href="juggling-balls" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>

      <p>The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.</p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>

      {% from "govuk/components/details/macro.njk" import govukDetails %}

      {{ govukDetails({
        summaryText: "Help with nationality",
        text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
      }) }}

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Legend",
          classes: "govuk-label--s",
          isPageHeading: true
        },
        hint: {
          text: "Hint text"
        },
        id: "event-name",
        name: "event-name"
      }) }}

      {% set detailsHtml %}
        <h2 class="govuk-heading-m">Heading</h2>

        <p class="govuk-body">You can buy:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>apples</li>
          <li>oranges</li>
          <li>pears</li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: "Summary text",
        html: detailsHtml
      }) }}


      {% from "govuk/components/table/macro.njk" import govukTable %}
      {% set row1html %}
      <a href="#" class="govuk-link">AVON AND SOMERSET POLICE FORCE</a>
      {% endset %}

      {% set row2html %}
      <a href="#" class="govuk-link">OWC LTD</a>
      {% endset %}
      {{ govukTable({
        caption: "Your registered organisations",
        captionClasses: "govuk-table__caption--s",
        firstCellIsHeader: true,
        head: [
          {
            text: "Organisation name"
          },
          {
            text: "Registration status"
          }
        ],
        rows: [
          [
            {
              html: row1html
            },
            {
              text: "Registration complete"
            }
          ],
          [
            {
              html: row2html
            },
            {
              text: "Registration complete"
            }
          ]
        ]
      }) }}

      {{ govukTable({
  caption: "Your registered organisations",
  captionClasses: "govuk-table__caption--s",
  firstCellIsHeader: true,
  head: [
    {
      text: "Organisation name"
    },
    {
      text: "Registration status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="#" class="govuk-link">AVON AND SOMERSET POLICE FORCE</a>'
      },
      {
        text: "Registration complete"
      }
    ],
    [
      {
        html: '<a href="#" class="govuk-link">OWC LTD</a>'
      },
      {
        text: "Registration complete"
      }
    ]
  ]
}) }}


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

{{ govukButton({
  text: "Save and continue",
  href: "/url/to/next/page"
}) }}


<h2 class="govuk-heading-l">Appeal actions</h2>

<h3 class="govuk-heading-m">Decision notes</h3>


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Decision-note.pdf"
      },
      value: {
        text: "New due date: 12 June 2022"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "Decision note"
          }
        ]
      }
    },
    {
      key: {
        text: "Decision-note-2.pdf"
      },
      value: {
        text: "No extension"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "Decision note"
          }
        ]
      }
    }
  ]
}) }}


      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Example DECS pages and components
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="upload-draft">
                Upload draft page
              </a>
            </li>
            <li>
              <a href="add-documents-component">
                Add documents component (FOI Time based)
              </a>
            </li>
            <li>
              <a href="add-documents-substantive-component">
                Add documents component (FOI Substantive)
              </a>
            </li>
            <li>
              <a href="add-documents-foi">
                Add documents component (FOI)
              </a>
            </li>
            <li>
              <a href="contributions-with-close-reasons">
                Contributions (with close reasons)
              </a>
            </li>
            <li>
              <a href="/single-case-created">Single case created</a>
            </li>
            <li>
              <a href="foi-summary">FOI summary</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
